<body>

<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <p class="text-blk heading">
      About Us
    </p>
    <p class="text-blk subHeading">
      The ice cream we serve in our shops sticks to the old-fashioned, soft-serve ice cream truck experience we started out serving on the streets of New York City. Is soft-serve “real” ice cream? You bet it is! The only difference is that soft-serve is frozen cone by cone & served at a warmer temperature, creating a more creamy texture. Our soft-serve is made the traditional way, using only all-natural milk, cream, sugar and a small amount of invisible emulsifier. We serve our own proprietary recipes & utilize milk & cream from an all-natural dairy farm in Pennsylvania.

Our all-natural, super-premium pints start with our proprietary egg-based recipes & have a much higher butterfat content than our soft-serve ice cream. The result is a much denser, decadent flavor.
    </p>
    <div class="social-icons-container">
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
      </a>
    </div>
  </div>
</div>

<div class="container">

  <div class="pirveli">
    <img src="/assets/Images/Yellow.png" alt="">
    <h2>NAO</h2>
    <p>Velit commodo</p>
  </div>

  <div class="meore">
    <img src="/assets/Images/Blue.png" alt="">
    <h2>AGNES</h2>
    <p>Mauris maximus</p>
  </div>

  <div class="mesame">
    <img src="/assets/Images/Red.png" alt="">
    <h2>MARIE</h2>
    <p>Sed ultrices</p>
  </div>

</div>



</body>
