<div class="main">

    <h1>More About Us</h1>
    <div class="info">
        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt possimus autem, excepturi nisi veritatis rem magni consequatur id maxime. Voluptate expedita perferendis voluptatibus eaque omnis culpa repellat eum magni reprehenderit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas enim, repellendus officiis voluptatum fugit harum! Adipisci praesentium unde quibusdam error fugit voluptate nisi tenetur repellendus non ullam! Laboriosam, similique laudantium!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vel doloribus itaque voluptas enim accusamus labore saepe deserunt tenetur quaerat asperiores quisquam tempore error, molestiae ipsum incidunt amet esse excepturi.</h2>
        
    </div>
    <div class="imgDiv">
        <img src="https://shop.52kards.com/cdn/shop/products/illusionist.jpg?v=1553571910" alt="">
    </div>
</div>