<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h3>About Us</h3>
      <p>Beginning as a seasonal food truck in 2009, Big Gay Ice Cream has been named best ice cream parlor--as well as best food truck--in the country, along with numerous other accolades. Now the company has multiple locations in New York City & Philadelphia.</p>
    </div>
    <div class="footer-column">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="aboutus">About</a></li>
        <li><a routerLink="products">Product</a></li>
        <li><a routerLink="cart">Cart</a></li>
        <li><a routerLink="contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contact Us</h3>
      <p>Email: blackshadowbs123</p>
      <p>Phone: 599 90 08 45</p>
      <p>Address: Beniamin Chxikvishvilis 8, Tbilisi, Georgia</p>
    </div>
  </div>
  <div class="bottom-footer">
    <p>©2024 Ilia Iliadi. All rights reserved.</p>
  </div>
</footer>
