<body>


  <div class="container">
<div class="search-container">
  <div class="search-box">
    <input type="text" class="search-input" id="searchInput" placeholder="" #filter (keyup)="filterResults(filter.value)">
    <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
  </svg>
  </div>
</div>
</div>

<!-- <app-categories (onChoose) = "categoriesChanged($event)"></app-categories> -->


<div class="container33">
  <button class='thin' (click)="onCategoryChange('all')">All</button>
  <button class='thin' (click)="onCategoryChange('ice cream')">Ice Cream</button>
  <button class='thin' (click)="onCategoryChange('milk shake')">Milk Shake</button>
  <button class='thin' (click)="onCategoryChange('ice coffee')">Ice Coffee</button>
</div>


<section class="gods-container">
  <app-god-card *ngFor="let godCard of filteredGodList" [godCard]="godCard"></app-god-card>
</section>

</body>

