img {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

*{
font-family: "Delius Unicase" ;
}

.container{
  padding: 20px;
  gap: 20px;
}

.card-img-top{
width: 288px;
height: 286px;
object-fit: cover;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(217, 136, 163, 0.863);
}

.card-body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 288px;
background-color: rgba(255, 118, 164, 0.863);
}

.card-btn {
display: flex;
align-items: center;
flex-direction: row;
margin: 10px;
gap: 7px;
}

.card-btn button{
font-size: 12px;
padding: 8px 29px;
background-color: rgba(214, 129, 143, 0.796);
border-radius: 12px;
border: none;
}

.card:hover{
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
transform: translateY(-14px);
transition: all 0.6s ease;
border-radius: 10px;
border: none;
}

.card-body{
border-radius: 2px;
}


.card{
display: flex;
align-items: center;
justify-content: center;
width: 100px;
height: 500px;
border: none;
}

.container{
display: flex;
align-items: center;
justify-content: center;
}
