*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 640px;
  margin: auto;

}
.thin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  transition: 0.2s;
  gap: 15px;
  border-radius: 20px;
  margin: 15px;
  border: none;
  background-color: darksalmon;
}
.thin:hover{
  background-color: palevioletred;
  transform: translateY(-5px);
  transition: all 0.3s ease;
}
p{
  color: black;
}

@media screen and (max-width: 520px) {
    .container {
      display: none;
    }
}
