<header>
<div class="container">
  <div class="logo">
    <img routerLink="" src="/assets/Images/Logo.png" alt="">
  </div>
  <div class="nav">
    <nav>
      <a routerLink="products" class="category-button">Products</a>
      <a routerLink="how" class="category-button">How it's made</a>

      <a routerLink="aboutus" class="category-button">About Us</a>
      <a routerLink="contact" class="category-button">Contact</a>
  </nav>
  </div>
  <div class="losi">
    <a routerLink="signup">Sign Up</a>
  </div>
  <div class="cart">
    <img routerLink="cart" src="/assets/Images/Cart.png" alt="">
  </div>
</div>
</header>
